[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyterlab = "*"
pandas = "*"
regex = "*"
youtube-transcript-api = "*"

[dev-packages]

[requires]
python_version = "3.8"
